# Goals


*   Create the game
*   Create a function to verify the wins
*   Generate random games
*   Make the AI learn with these games
*   Put the AI against itself


---

# The game

#### To win the game one player needs to put 'X' or 'O' 4 time consecutively at horizontal, vertical or diagonal.
#### There are exactly 28 possibilities to win this game (highlighted as bellow)
![](https://i.imgur.com/WuT5XVu.png)
#### So we need a function to check if the player wins.
#### The board will be a 5x5 matrix

```
board = [['', '', '', '', ''],
         ['', '', '', '', ''],
         ['', '', '', '', ''],
         ['', '', '', '', ''],
         ['', '', '', '', '']]
```


---

# Function to verify winning

In [196]:
def checkWinner(board):
    # Horizontal win (X)
    for j in range(2):
        for i in range(5):
            if board[i][0+j] == 'X' and board[i][1+j] == 'X' and board[i][2+j] == 'X' and board[i][3+j] == 'X':
                return "1"
    # Horizontal win (O)
    for j in range(2):
        for i in range(5):
            if board[i][0+j] == 'O' and board[i][1+j] == 'O' and board[i][2+j] == 'O' and board[i][3+j] == 'O':
                return "2"

    # Verical win (X)
    for j in range(2):
        for i in range(5):
            if board[0+j][i] == 'X' and board[1+j][i] == 'X' and board[2+j][i] == 'X' and board[3+j][i] == 'X':
                return "1"
    # Verical win (O)
    for j in range(2):
        for i in range(5):
            if board[0+j][i] == 'O' and board[1+j][i] == 'O' and board[2+j][i] == 'O' and board[3+j][i] == 'O':
                return "2"

    # Right to left diagonal win (X)
    for i in range(2):
        for j in range(2):
            if (board[0+i][3+j] == 'X' and board[1+i][2+j] == 'X' and board[2+i][1+j] == 'X' and board[3+i][0+j] == 'X'):
                return "1"
    # Left to right diagonal win (X)
    for i in range(2):
        for j in range(2):
            if (board[0+i][0+j] == 'X' and board[1+i][1+j] == 'X' and board[2+i][2+j] == 'X' and board[3+i][3+j] == 'X'):
                return "1"
    
    # Right to left diagonal win (O)
    for i in range(2):
        for j in range(2):
            if (board[0+i][3+j] == 'O' and board[1+i][2+j] == 'O' and board[2+i][1+j] == 'O' and board[3+i][0+j] == 'O'):
                return "2"
    # Left to right diagonal win (O)
    for i in range(2):
        for j in range(2):
            if (board[0+i][0+j] == 'O' and board[1+i][1+j] == 'O' and board[2+i][2+j] == 'O' and board[3+i][3+j] == 'O'):
                return "2"
    
    # Draw
    draw = True
    for row in board:
        if row.count('') > 0:
            draw = False
    if draw:
        return "0"

In [197]:
board = [['', '', '', '', ''],
         ['', '', '', '', ''],
         ['', '', '', '', ''],
         ['', '', '', '', ''],
         ['', '', '', '', '']]

print(checkWinner(board))

None



---

# Generating random games

In [198]:
import pandas as pd

gamesGenerated = 100
header = {"p1":[], "p2":[], "start":[], "winner":[], "turn1":[], "turn2":[], "turn3":[], "turn4":[], "turn5":[], "turn6":[], "turn7":[], "turn8":[], "turn9":[], "turn10":[], "turn11":[], "turn12":[],
          "turn13":[], "turn14":[], "turn15":[], "turn16":[], "turn17":[], "turn18":[], "turn19":[], "turn20":[], "turn21":[], "turn22":[], "turn23":[], "turn24":[], "turn25":[]}
allGames = pd.DataFrame(data=header)
allGames

Empty DataFrame
Columns: [p1, p2, start, winner, turn1, turn2, turn3, turn4, turn5, turn6, turn7, turn8, turn9, turn10, turn11, turn12, turn13, turn14, turn15, turn16, turn17, turn18, turn19, turn20, turn21, turn22, turn23, turn24, turn25]
Index: []

In [199]:
# Function to transform the random number to board indexes
def playToIndexes(play, size):
    c1 = play//size
    c2 = (play%5)-1
    if c2 == -1:
        c1 -= 1
        c2 += size
    return c1, c2

In [203]:
import random

eq = {"1":"X", "2":"O", "0":"Draw"}
for i in range(gamesGenerated):
    board= [['', '', '', '', ''],
            ['', '', '', '', ''],
            ['', '', '', '', ''],
            ['', '', '', '', ''],
            ['', '', '', '', '']]

    # Decide the start
    turn = random.randint(1, 2)
    game = header
    game["start"] = [str(turn)]
    game["p1"] = [str(turn)]
    if turn == 1:
        game["p2"] = ['2']
    else:
        game["p2"] = ['1']

    n = 1
    while checkWinner(board) == None or n<=25:
        # Randomize a play
        play = random.randint(1, 25)
        c1, c2 = playToIndexes(play, 5)
        while board[c1][c2] != '':
            play = random.randint(1, 25)
            c1, c2 = playToIndexes(play, 5)

        # Assign the play
        game['turn'+str(n)] = [str(play)]
        board[c1][c2] = (eq[str(turn)])
        if turn == 1:
            turn = 2
        else:
            turn = 1
        n += 1

    
    # Assign the winner
    game["winner"] = [checkWinner(board)]
    df = pd.DataFrame(game)
    frames = [allGames, df]
    allGames = pd.concat(frames, ignore_index=True)

allGames

    p1 p2 start winner turn1 turn2  ... turn20 turn21 turn22 turn23 turn24 turn25
0    2  1     2      2    13    23  ...      6     19      7     15     18      4
1    2  1     2      1    24     8  ...     22      7      4     13      5      6
2    1  2     1      1    11     1  ...     24     17     12     10     13      2
3    1  2     1      0    16     4  ...      7     25     10      5      6     15
4    1  2     1      2    22     2  ...     21     15     23      9     19      1
..  .. ..   ...    ...   ...   ...  ...    ...    ...    ...    ...    ...    ...
195  1  2     1      1     9    13  ...     22      2     12      8     20      3
196  2  1     2      2     4     9  ...      6     24      8     25     21      3
197  1  2     1      2     2     8  ...     11     15      4      3     13      1
198  1  2     1      1    24    10  ...     12     22     21     11     14     13
199  1  2     1      1    18    25  ...     24     13      5     19     17     23

[200 rows x 29 columns]

In [204]:
allGames.loc[allGames.winner == '0']

    p1 p2 start winner turn1 turn2  ... turn20 turn21 turn22 turn23 turn24 turn25
3    1  2     1      0    16     4  ...      7     25     10      5      6     15
10   1  2     1      0    23     1  ...     21      3     17     16     11      5
16   2  1     2      0    13     3  ...     15      6     11     21      9     10
18   1  2     1      0     4    20  ...     19      1     12     15     16     10
53   2  1     2      0     1     2  ...     11      8     17     20      5     12
55   2  1     2      0     2    14  ...     12     13     24     22      6     19
71   2  1     2      0    25     3  ...      5      2     11     10     14      8
104  2  1     2      0    15    24  ...      7     25     19      8     17     21
113  2  1     2      0     8    16  ...     10     14     19     15     21      5
134  2  1     2      0    11    15  ...     21     19     24     25      9     18
143  2  1     2      0    24    23  ...     18     22     21     17      4     15

[11 rows x 29 columns]



---

# Visualizing the games

In [ ]:
i = 0
eq = {"1":"X", "2":"O", "0":"Draw"}
for i in range(0, len(allGames[0:5])):
    game = allGames.loc[i]
    print(f"Game {i+1}    ({eq[game.p1]} vs {eq[game.p2]})\nWinner: {eq[game.winner]}")

    board= [['', '', '', '', ''],
            ['', '', '', '', ''],
            ['', '', '', '', ''],
            ['', '', '', '', ''],
            ['', '', '', '', '']]
    
    for i in range(4, 29):
        c1, c2 = playToIndexes(int(game[i]), 5)
        if i%2 == 0:
            board[c1][c2] = eq[game.p1]
        else:
            board[c1][c2] = eq[game.p2]

    print("------------------")
    for line in board:
        print(" | ".join(line))
        print("------------------")
    print()